*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(1, 1, 7, 0.7), rgba(38, 36, 36, 0.7)), url(images/3d-render-techno-background-with-male-figure-coding-design.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 0 12%;
    position: relative;
}

.header h2{
    position: absolute;
    margin-top: 200px;
    line-height: 100px;
    right: 51%;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;

}

.header p{
    position: absolute;
    margin-top: 300px;
    right: 30%;
    font-size: 25px;
    line-height: 40px;
}

.contact-info{
    position: absolute;
    margin-top: 450px;
    font-weight: 500;
    font-size: 23px;
    right: 41%;
    background-image: linear-gradient(rgba(7, 7, 24, 0.7), rgba(61, 57, 57, 0.7));
    background-clip: padding-box;
    border-radius: 15px;
    outline: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: aqua;
    padding: 50px;


}

.contact-info a{
    color: rgba(38, 38, 197, 0.7);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

